<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-9 col-md-offset-1 col-lg-6 col-lg-offset-3 slicet-center-hero__inner-container">
      {{yield}}
    </div> 
  </div>
</div>
