<ul class="mdl-list slicet-question-card__header-master">
  <li class="mdl-list__item slicet-question-card__header">
    <span class="mdl-list__item-primary-content">
      <img class="mdl-list__item-avatar slicet-question-card__item-avatar" src="{{model.user.picture}}">
      <span>
        <h4 class="slicet-question-card__asker">
          <strong>{{model.user.name}}</strong>
        </h4>
        <small>{{model.user.location}}</small>
      </span>
    </span>
  </li>
</ul>
<div class="slicet-question-card__mess">
  <div class="slicet-question-card__mess-question">
    {{model.text}}
  </div>
  <div class="slicet-question-card__mess-answer">
    <strong class="slicet-question-card__mess-name">{{user.name}}</strong>
    <img class="mdl-list__item-avatar slicet-question-card__item-avatar-small" src="{{user.picture}}">
  </div>
  <div class="slicet-question-card__mess-answer">
    <h6 class="slicet-question-card__mess-answer-response">{{model.answer}}</h6>
  </div>
</div>
{{yield}}
