@import 'material-design-lite';
@import "bootstrap";
@import "website-android-template";
@import "slicet";

.android-footer {
  display: none;
}

.android-header {
  background-color: rgba(0,0,0, 0.75);
  font-family: 'Roboto', sans-serif;
  .mdl-navigation__link {
    color: #e2e2e2;
  }
}

.mdl-layout-title {
  padding-left: 65px;
  color: #fff;
  &:before {
    display: block;
    position: absolute;
    content: " ";
    width: 60px;
    height: 45px;
    left: 0px;
    top: -10px;
    background: {
      image: url("watermelon.png");
      size: cover;
    }
  }
}

body {
  @media (min-width: $screen-md-min) { 
    background: {
      image: url("background.png");
      size: cover;
      position: center center;
    }
  }
  background-color: #333;
}

.highlight-red {
  padding-left: 0.2em;
  color: #f44336;
}

.android-navigation {
  .mdl-navigation__link {
    width: 125px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }
}
.mdl-navigation__link {
  &.active:after {
    display: block;
    position: absolute;
    content: " ";
    height: 4px;
    top: 58px;
    width: 125px;
    background-color: #9C27B0;
    background: linear-gradient(15deg, #BA68C8, #283593);
  }
}

.question-page {
  padding: 16px;
}

.headline {
  color: #fff;
  font-size: 18px;
}