<span class="mdl-list__item-primary-content">
  <img class="mdl-list__item-avatar slicet-message-item__item-avatar" src="{{get model avatarPath}}">
  <span class="mdl-list__item-text-body slicet-message-item__text-body">
    <div class="mdl-list__item-text-body-name">
      {{named-yield "title"}}
      {{named-yield "subtitle" class="small"}}
    </div>
    <div class="mdl-list__item-text-body-content">
      {{yield (hash
        title=("component" "block-for" "title")
        subtitle=("component" "block-for" "subtitle")
      )}}
    </div>
  </span>
</span>
<span class="mdl-list__item-secondary-content">
  {{#link-to linkPath model class="mdl-list__item-secondary-action"}}
    <img class="mdl-list__item-icon" src="assets/circle_rightarrow.png">
  {{/link-to}}
</span>
