{{#website-layout title="Slice"
  navLinks=(append
    (hash path="index" text="Q&A")
    (hash path="jobs" text="Jobs")
    (hash href="contact" text="Contact"))
  footLinks=(append
    (hash href="https://pisource.gitlab.io/simwms/#/assets" text="Reference"))
  as |layout|}}
  {{#slicet-center-hero}}
    {{outlet}}
  {{/slicet-center-hero}}
{{/website-layout}}