{{#slicet-messages collection=model as |qa|}}
  {{#slicet-message-item model=qa linkPath="qa" avatarPath="user.picture" as |yields|}}
    {{#yields.title}}{{qa.user.name}}{{/yields.title}}
    {{#yields.subtitle}}Q&amp;A<span class="highlight-red">Live</span>{{/yields.subtitle}}
    {{qa.topic}}
  {{/slicet-message-item}}
{{/slicet-messages}}