<div class="slicet-messages question-page">
  <h3 class="headline">{{model.topic}}</h3>
  {{#each model.questions as |question|}}
    {{slicet-question-card model=question user=model.user}}
  {{/each}}
</div>