.slicet-messages {
  @media (max-width: $screen-md-min) { 
    height: 100%;
  }
  @media (min-width: $screen-md-min) { 
    border: 2px solid #eee;
    min-height: 75vh;
  }
  width: 100%;
  background: {
    color: #111;
  }
}