.slicet-message-item {
  margin-bottom: 5px;
  background: {
    color: #666;
  }
}

.slicet-message-item__item-avatar {
  background: {
    color: #fff;
  }
}

.mdl-list__item-text-body-name {
  display: inline-block;
  width: 75px;
  overflow: hidden;
}
.mdl-list__item-text-body-content {
  display: inline-block;
  margin-left: 16px;
  font-size: 14px;
}

.slicet-message-item__text-body {
  color: #fff;
  flex-direction: row;
  align-items: center;
  display: flex;
}