.slicet-center-hero__inner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 64px);
  @media (max-width: $screen-md-min) { 
    padding-left: 0;
    padding-right: 0;
  }
}