.slicet-question-card {
  margin-top: 16px;
  box-shadow: 0 0 4px 4px #fff;
  background: #fff;
  small {
    color: #777;
  }
}
.slicet-question-card__header-master {
  padding-top: 0;
  border-bottom: 2px solid #666;
}

.slicet-question-card__header {
}

.slicet-question-card__item-avatar {
  border: 1px solid #666;
  background-color: #fff;
  width: 55px;
  height: 55px;
}
.slicet-question-card__item-avatar-small {
  border: 1px solid #666;
  background-color: #fff; 
}

.slicet-question-card__mess {
  background: #fff;
  padding: 16px;
  margin-top: -7px;
  margin-bottom: 16px;
}

.slicet-question-card__mess-name {
  font-size: 16px;
}

.slicet-question-card__mess-answer {
  text-align: right;
}

.slicet-question-card__asker {
  margin-bottom: 5px;
}

.slicet-question-card__mess-answer-response {
  color: #777;
  font-size: 16px;
}

.slicet-question-card__mess-question {
  color: #777;
  font-size: 20px;
}